<h1 *ngIf="!currProduct; else showProduct">No Product Exist</h1>

<ng-template #showProduct>
  <main>
    <img src="" alt="" />
    <aside class="center">
      <p>id:{{ this.data.products?.id }}</p>
      <h1>{{ this.data.products?.Name }}</h1>
      <p>{{ this.data.products?.Description }}</p>
      <p>⭐⭐⭐{{ this.data.products?.Rating }}</p>
      <p>Price: ${{ this.data.products?.Price }}</p>
      <p>
        It can be used
        <b *ngIf="!this.data.products?.Usage">Indoor </b>
        <b *ngIf="this.data.products?.Usage">Outdoor</b>
      </p>
      <p>
        Brand:
        <b> {{ this.data.products?.Brand }}</b>
      </p>
      <p>{{ this.data.products?.Quantity }} items available</p>
    </aside>
  </main>
</ng-template>
