<header></header>

<main>
  <filter
    (sortByPriceEvent)="sortByPrice($event)"
    (sortByRatingEvent)="sortByRating($event)"
    (sortByUsageEvent)="sortByUsage($event)"
    (sortByBrandEvent)="sortByBrand($event)"
    (clearFilterEvent)="clearFilter()"
    [isFilterActive]="isFilterActive"
    [brandNames]="brandName"
  ></filter>

  <section>
    <h3 *ngIf="!products.length; else showProduct">No products to show</h3>
    <ng-template #showProduct>
      <ul>
        <p>{{products.length}} products found</p>
        <li
          *ngFor="let product of products; let even = even; let odd = odd"
          [ngClass]="{ odd: odd, even: even }"
        >
          <list-product [product]="product"></list-product>
        </li>
      </ul>
    </ng-template>
  </section>
</main>
