<header></header>

<main>
  <app-filter
    (sortByPriceEvent)="sortByPrice($event)"
    (sortByRatingEvent)="sortByRating($event)"
    (sortByUsageEvent)="sortByUsage($event)"
    (sortByBrandEvent)="sortByBrand($event)"
    (clearFilterEvent)="clearFilter()"
    (isFilterActive)="isFilterActive"
    [brandNames]="brandName"
  ></app-filter>

  <section>
    <ul>
      <li
        *ngFor="let product of products; let even = even; let odd = odd"
        [ngClass]="{ odd: odd, even: even }"
      >
        <app-list-product [product]="product"></app-list-product>
      </li>
    </ul>
  </section>
</main>

<router-outlet></router-outlet>
