<div class="form-container">
  <form [formGroup]="productForm">
    <h1>ADD PRODUCTS</h1>
    <BR />
    <label for="name">Product Name:</label>
    <input type="text" id="name" formControlName="name" />

    <label for="price">Price:</label>
    <input type="text" id="price" formControlName="price" />

    <label for="description">Product Description:</label>
    <input type="text" id="description" formControlName="description" />

    <label for="brand">Brand:</label>
    <input type="text" id="brand" formControlName="brand" />

    <label for="quantity">Quantity:</label>
    <input type="text" id="quantity" formControlName="quantity" />

    <label for="usage">Usage:</label>
    <input type="text" id="usage" formControlName="usage" />

    <input type="submit" value="Submit" (click)="submitForm()">
  </form>
</div>
